
     <div class="container" id="main">
        <div style="width: 100%; height: 400px; background-color: #fff; display: flex; align-items: center; justify-content: center;">
          {{#if headerImg}}<img src={{headerImg}} alt="header" style="object-fit: contain; width: 40%; height: 100%;"/>{{/if}}
        </div>
        <h4>{{greeting}},</h4>
        <div class="container content">
          <p>
            {{mainMsg}}
          </p>
          {{#if callToActionText}} <p id="call-to-action" style="color: #ffffff;">{{callToActionText}}</p>{{/if}}
        </div>
        <div class="container final-remarks">
         {{#if finalRemarkMsg}} <p>
            {{finalRemarkMsg}}
             {{#if finalRemarkLink}} <a href="#{{finalRemarkLink}}" style="color: #559155;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;">#{{finalRemarkLink}}</a> {{/if}}
          </p>{{/if}}
        </div>
        <div class="container closing-signature">
          <span>{{signature}}</span>
          <span>{{senderName}}</span>
        </div>
        <div class="container main-footer">
          <p>
            <strong>Have questions? We have answers.</strong><br />
            If you have any questions, browse our <a href="https://sahcoplc.com/faqs/">FAQs</a>. If you still need
            assistance, submit a request via our <a href="https://sahcoplc.com/contacts/">support</a> page.
          </p>
        </div>
      </div>
      {{>footer}}
    </div>
  